@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

.accordionMenu {
  background-color: slategray;
  color: white;
  max-width: 25%;
  border: 2px solid dimgray; 
  border-radius: 6px;
}

h3 {
  margin: 0;
  border: 2px solid dimgray; 
  text-indent: 15px;
  background-color: slategray;
}

ul {
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  list-style: none;
}

li {
  background-color: #E5E5E5;
  border: 1px solid #CCCCCC;
}